.container {
    margin-left: auto !important;
    transition: 0.5s;
}

.force-left {
    margin-left: 100px !important;
    margin-top: 100px;
}

.user-panel {
    margin-top: 100px;
    width: 81.5% !important;
    margin-left: 250px !important;
    margin-right: 0px !important;
    transition: 0.5s;
}

@media (min-width: 0px) and (max-width: 1100px) {
    .container {
        max-width: 100% !important;
    }
    .force-left {
        margin-left: 0px !important;
    }
}