.input-group-append {
    margin-left: -17px !important;
}

.imgPreview {
    text-align: center;
    margin: 5px 15px;
    height: 120px;
    width: 120px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.imgPreview img {
    width: 100%;
    height: 100%;
}